.cardmain {
  border: 2px solid red;
  height: 83.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.cardwithlink {
  border: 2px solid black;
}
.imgcontainer {
  width: 300px;
  height: 200px;
}
.cardimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
