* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #2d3250;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.link {
  text-decoration: none;
  color: #f6b17a;
  font-size: 2rem;
}
.imglogo {
  width: 100px;
}
